<a href="https://colab.research.google.com/github/C0FF33JH/C0FF33JH/blob/main/Lectures/CM3010_September_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1. Introduction**

This notebook addresses **Question 2 (Bird Spotter)**, **Question 3 (MEI / MongoDB / RDF)**,
and **Question 4 (Zoo DB)** from the attached exam.

**Sections**:
1. **Q2: Bird Spotter (MySQL)**
2. **Q3: MEI with XML/XPath, MongoDB JSON, RDF, and SPARQL**
3. **Q4: Zoo Database (MySQL)**

We'll use Google Colab–style or local Jupyter setups with MySQL,
plus `lxml` for XPath, `pymongo` for MongoDB, and `rdflib` for RDF/SPARQL.

### Question 2 – Bird Spotter’s Records

#### MySQL Setup for Question 2

In [19]:
# Install MySQL (if in Colab/Ubuntu environment), start the service
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!service mysql start

# Create user & DB for bird spotting
!mysql -e "CREATE USER IF NOT EXISTS 'birduser'@'localhost' IDENTIFIED BY 'birdpass';"
!mysql -e "CREATE DATABASE IF NOT EXISTS bird_spotter;"
!mysql -e "GRANT ALL PRIVILEGES ON bird_spotter.* TO 'birduser'@'localhost';"

# Install Python libs
!pip install -q sqlalchemy==2.0.20 ipython-sql==0.5.0 pymysql==1.1.0 prettytable==2.0.0

%reload_ext sql

import pandas as pd
pd.set_option('display.max_rows', 10)

# Connect to bird_spotter DB
%sql mysql+pymysql://birduser:birdpass@localhost/bird_spotter

print("MySQL ready for Bird Spotter question (Q2).")

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting MySQL database server mysqld
   ...done.
MySQL ready for Bird Spotter question (Q2).

### Creating a Denomalised Table for Bird Spotter (Q1)

In [20]:
%%sql

-- 1) Drop the Sightings table if it exists
DROP TABLE IF EXISTS Sightings;

-- 2) Create a denormalised Sightings table
CREATE TABLE Sightings (
  Species             VARCHAR(100),
  Date                DATE,
  NumberSighted       INT,
  ConservationStatus  VARCHAR(50),
  NatureReserve       VARCHAR(100),
  Location            VARCHAR(50)
);

-- 3) Insert rows exactly as in the exam's sample data
INSERT INTO Sightings
  (Species, Date, NumberSighted, ConservationStatus, NatureReserve, Location)
VALUES
  ('Bar-tailed godwit',         '2021-04-21', 31, 'Least concern', 'Rainham Marshes', '51.5N 0.2E'),
  ('Wood pigeon',               '2021-04-21', 31, 'Least concern', 'Rainham Marshes', '51.5N 0.2E'),
  ('Greater spotted woodpecker','2021-06-13',  1, 'Least concern', 'Epping Forest',   '51.6N 0.0E'),
  ('European turtle dove',      '2021-06-13',  2, 'Vulnerable',    'Epping Forest',   '51.6N 0.0E'),
  ('Wood pigeon',               '2021-06-13',  2, 'Least concern', 'Epping Forest',   '51.6N 0.0E'),
  ('Great bustard',             '2020-04-15',  3, 'Vulnerable',    'Salisbury Plain', '51.1N -1.8W'),
  ('Bar-tailed godwit',         '2020-04-20', 53, 'Least concern', 'Rainham Marshes', '51.5N 0.2E');

 * mysql+pymysql://birduser:***@localhost/bird_spotter

KeyboardInterrupt:

### Q2(a) Query: All Bird Types Seen Since 1 Jan 2021

In [ ]:
%%sql
SELECT *
FROM Sightings;

### Creating Tables for Bird Spotter (Q2)

Based on the question’s data:

- **NatureReserves** table:
  - PK: `NatureReserveName` (VARCHAR)
  - `Location` (stores latitude/longitude as a single string)

- **Species** table:
  - PK: `SpeciesName`
  - Fields:
    - `ConservationStatus` (VARCHAR)

- **Sightings** table:
  - Composite PK: `(SpeciesName, NatureReserveName, Date)`
  - Fields:
    - `SpeciesName` (FK references Species)
    - `NatureReserveName` (FK references NatureReserves)
    - `Date` (DATE)
    - `NumberSighted` (INT)

In [ ]:
%%sql
DROP TABLE IF EXISTS Sightings;
DROP TABLE IF EXISTS NatureReserves;
DROP TABLE IF EXISTS Spcies;

CREATE TABLE NatureReserves (
  NatureReserveName VARCHAR(100) PRIMARY KEY,
  Location VARCHAR(50)
);

CREATE TABLE Species (
  SpeciesName VARCHAR(100) PRIMARY KEY,
  ConservationStatus VARCHAR(50)
);

CREATE TABLE Sightings (
  SpeciesName VARCHAR(100),
  NatureReserveName VARCHAR(100),
  Date DATE,
  NumberSighted INT,
  PRIMARY KEY (SpeciesName, NatureReserveName, Date),
  FOREIGN KEY (SpeciesName) REFERENCES Species(SpeciesName),
  FOREIGN KEY (NatureReserveName) REFERENCES NatureReserves(NatureReserveName)
);

### Insert the Exact Rows from the Question

In [ ]:
%%sql

-- Insert data into NatureReserves
INSERT IGNORE INTO NatureReserves (NatureReserveName, Location) VALUES
('Rainham Marshes',  '51.5N 0.2E'),
('Epping Forest',    '51.6N 0.0E'),
('Salisbury Plain',  '51.1N -1.8W');

-- Insert data into Species
INSERT IGNORE INTO Species (SpeciesName, ConservationStatus) VALUES
('Bar-tailed godwit',         'Least concern'),
('Wood pigeon',               'Least concern'),
('Greater spotted woodpecker','Least concern'),
('European turtle dove',      'Vulnerable'),
('Great bustard',             'Vulnerable');

-- Insert data into Sightings
-- We use the species, nature reserve, date, and number sighted from the exam table.
INSERT IGNORE INTO Sightings (SpeciesName, NatureReserveName, Date, NumberSighted)
VALUES
('Bar-tailed godwit',         'Rainham Marshes', '2021-04-21', 31),
('Wood pigeon',               'Rainham Marshes', '2021-04-21', 31),
('Greater spotted woodpecker','Epping Forest',   '2021-06-13', 1),
('European turtle dove',      'Epping Forest',   '2021-06-13', 2),
('Wood pigeon',               'Epping Forest',   '2021-06-13', 2),
('Great bustard',             'Salisbury Plain', '2020-04-15', 3),
('Bar-tailed godwit',         'Rainham Marshes', '2020-04-20', 53);

### Q2(e) Query: Bird Types & Their Conservation Status Since 2021-01-01

In [ ]:
%%sql

### Q2(f) - Transaction Example

Imagine we need to insert a new sighting + update something about
a bird's conservation status in one atomic step.

In [ ]:
%%sql
START TRANSACTION;

INSERT INTO Sightings
(SpeciesName, NatureReserveName, Date, NumberSighted, ConservationStatus)
VALUES
('Test bird', 'Rainham Marshes', '2021-08-01', 5, 'Least concern');

UPDATE Sightings
SET ConservationStatus = 'Endangered'
WHERE SpeciesName='Test bird'
  AND NatureReserveName='Rainham Marshes'
  AND Date='2021-08-01';

/*
-- Optionally COMMIT or ROLLBACK:
COMMIT;
-- or
ROLLBACK;
*/

## Question 3 – MEI XML, MongoDB, RDF/SPARQL

We’ll define an MEI snippet with `<measure>`, `<staff n="2">`, `<staff n="3">` etc.,
mirroring the question.

We'll parse it via XPath, do the chord → JSON translation,
a MongoDB example, and an RDF example with SPARQL.

### Install `lxml` and Parse the MEI Snippet

In [22]:
!pip install lxml
from lxml import etree
from IPython.display import display, Markdown

mei_data = """
<measure>
  <staff n="2">
    <layer n="1">
      <chord xml:id="d13e1" dur="8" dur.ppq="12" stem.dir="up">
        <note xml:id="d1e101" pname="c" oct="5"/>
        <note xml:id="d1e118" pname="a" oct="4"/>
        <note xml:id="d1e136" pname="c" oct="4"/>
      </chord>
    </layer>
  </staff>
  <staff n="3">
    <layer n="1">
      <chord xml:id="d17e1" dur="8" dur.ppq="12" stem.dir="up">
        <note xml:id="d1e157" pname="f" oct="3"/>
        <note xml:id="d1e174" pname="f" oct="2"/>
      </chord>
    </layer>
  </staff>
</measure>
"""

root_mei = etree.fromstring(mei_data)
print("MEI snippet parsed.")

Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (5.3.0)
MEI snippet parsed.

### XPath Queries for Q3(b)

In [23]:
def display_xml(nodes):
    for node in nodes:
        xml_str = etree.tostring(node, pretty_print=True, encoding='unicode').strip()
        display(Markdown(f"```xml\n{xml_str}\n```"))

In [24]:
# Suppose we want all chords in staff n="2" containing notes with pname="f"
chords_with_f_in_staff2 = root_mei.xpath('/staff[n="2"]/layer/chord[note/@pname="c"]')
display_xml(chords_with_f_in_staff2)

# If the question specifically wants "pname='c' or 'f'", just adjust the filter.

### Q3(c) i. Translate the *first chord* (which has xml:id="d13e1") into JSON

In [ ]:
# Suppose we want all chords in staff n="2" containing notes with pname="f"
chords_with_f_in_staff2 = root_mei.xpath('//staff[n="2"]/layer/chord')
display_xml(chords_with_f_in_staff2)

In [ ]:
import json

# Let's find the chord with xml:id="d13e1"
chord_el = root_mei.xpath('//chord[@xml:id="d13e1"]')[0]

# Build a Python dict:
# Access the 'xml:id' attribute correctly using the namespace
chord_dict = {
    "xml:id": chord_el.attrib.get("{http://www.w3.org/XML/1998/namespace}id"),
    "dur": chord_el.attrib["dur"],
    "dur.ppq": chord_el.attrib["dur.ppq"],
    "stem.dir": chord_el.attrib["stem.dir"],
    "notes": []
}

for note_el in chord_el.xpath('./note'):
    # Access the 'xml:id' attribute correctly using the namespace for notes as well
    note_info = {
        "xml:id": note_el.attrib.get("{http://www.w3.org/XML/1998/namespace}id"),
        "pname": note_el.attrib["pname"],
        "oct": note_el.attrib["oct"],
    }
    chord_dict["notes"].append(note_info)

json_chord = json.dumps(chord_dict, indent=2)
print(json_chord)

### Q3(c) ii. If the whole data structure was an array of chord objects in MongoDB,
here is a `find` command to return only chords with:
- `stem.dir = "up"`
- at least one note with `pname="f"`

#### **Cell 14: MongoDB Setup + `find` Example (Code)**

In [ ]:
# Install MongoDB's dependencies
!sudo wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
!sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb

# Import the public key used by the package management system
!wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | apt-key add -

# Create a list file for MongoDB
!echo "deb [ arch=amd64,arm64 ] http://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.4 multiverse" | tee /etc/apt/sources.list.d/mongodb-org-4.4.list

# Reload the local package database
!apt-get update > /dev/null

# Install the MongoDB packages
!apt-get install -y mongodb-org > /dev/null

# Install pymongo
!pip install -q pymongo

# Create Data Folder
!mkdir -p /data/db

# Start MongoDB
!mongod --fork --logpath /var/log/mongodb.log --dbpath /data/db

from pymongo import MongoClient

# Establish connection to MongoDB
try:
    client = MongoClient('localhost', 27017)
    print("Connected to MongoDB")
except Exception as e:
    print("Error connecting to MongoDB: ", e)
    exit()

# List databases to check the connection
try:
    databases = client.list_database_names()
    print("Databases:", databases)
except Exception as e:
    print("Error listing databases: ", e)

# Retrieve server status
try:
    server_status = client.admin.command("serverStatus")
    print("Server Status:", server_status)
except Exception as e:
    print("Error retrieving server status: ", e)

# Perform basic database operations (Create, Read)
try:
    db = client.test_db
    collection = db.test_collection
    # Insert a document
    insert_result = collection.insert_one({"name": "test", "value": 123})
    print("Insert operation result:", insert_result.inserted_id)
    # Read a document
    read_result = collection.find_one({"name": "test"})
    print("Read operation result:", read_result)
except Exception as e:
    print("Error performing database operations: ", e)

In [ ]:
# Example: build the Mongo shell command as a string
query = """
db.chords.insert({
  "xml_id": "d13e1",
  "dur": "8",
  "dur_ppq": "12",
  "stem_dir": "up",
  "notes": [
    { "xml_id": "d1e101", "pname": "c", "oct": "5" },
    { "xml_id": "d1e118", "pname": "a", "oct": "4" },
    { "xml_id": "d1e136", "pname": "c", "oct": "4" }
  ]
});

db.chords.insert({
  "xml_id": "d17e1",
  "dur": "8",
  "dur_ppq": "12",
  "stem_dir": "up",
  "notes": [
    { "xml_id": "d1e157", "pname": "f", "oct": "3" },
    { "xml_id": "d1e174", "pname": "f", "oct": "2" }
  ]
});
"""

# Now execute the query string
!mongo --quiet --eval '{query}'

In [ ]:
query = """db.chords.find().pretty()"""

!mongo --quiet --eval '{query}'

In [ ]:
# Now we imagine the find command to get "chords with upward stems that have 'f'
# in one of their notes"
query = """
db.chords.find().pretty()
"""

!mongo --quiet --eval '{query}'

### Q3(d) - SPARQL and RDF Approach

We have a scenario where we map chords to RDF.
The question uses `rdfs:member ?note` to find chords with an F in them.

**(i)** Why use `rdfs:member`?
Because it is a standard, well-known property from the W3C RDF Schema,
improving interoperability instead of inventing a new `mei:hasNotes` property.

**(ii)** Some RDF for the first chord element in a chosen serialization (Turtle).
We define a prefix `mei:`, plus any new concepts.

#### **rdflib + A Turtle Example for Q3(d)**

In [ ]:
!pip install rdflib
from rdflib import Graph, Namespace, Literal, RDF, URIRef
from rdflib.namespace import FOAF, XSD

print("rdflib installed.")

In [ ]:
%%writefile chord_data.ttl
@prefix mei: <http://example.org/mei#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/chord1> a mei:Chord ;
    mei:stemDirection "up"^^xsd:string ;
    mei:hasNote <http://example.org/note1> ,
                <http://example.org/note2> .

<http://example.org/note1> a mei:Note ;
    mei:pname "f"^^xsd:string ;
    mei:oct   "5"^^xsd:string .

<http://example.org/note2> a mei:Note ;
    mei:pname "a"^^xsd:string ;
    mei:oct   "5"^^xsd:string .

In [ ]:
#### **4.4 Load & SPARQL Query**
g = Graph()
g.parse("chord_data.ttl", format="turtle")

print("Triples loaded:", len(g))

In [ ]:
# Example SPARQL: find chords with stemDirection = "up" that have a note with pname="f"
q = """
PREFIX mei: <http://example.org/mei#>
SELECT
WHERE {

}
"""

res = g.query(q)
for row in res:
    print("Chord found:", row.chord)

## Question 4 – Zoo Database

### MySQL Setup for Zoo DB

In [ ]:
# We'll reuse MySQL but create a new DB "zoo_db"
!mysql -e "CREATE DATABASE IF NOT EXISTS zoo_db;"
!mysql -e "GRANT ALL PRIVILEGES ON zoo_db.* TO 'birduser'@'localhost';"

%sql mysql+pymysql://birduser:birdpass@localhost/zoo_db

print("Connected to zoo_db for Q4.")

### E/R Diagram from Q4:
- `Zoo(name, country)` PK = name
- `Enclosure(name, location, ZooName FK)`
- `Species(LatinName, conservationStatus, ...) PK = LatinName?
- `Animal(identifier, dateOfBirth, SpeciesName, EnclosureName)`

But let's align carefully to the question's attributes:

### Creating Tables Aligned to Q4 E/R (Markdown)

In [ ]:
%%sql
DROP TABLE IF EXISTS Animal;
DROP TABLE IF EXISTS Species;
DROP TABLE IF EXISTS Enclosure;
DROP TABLE IF EXISTS Zoo;

CREATE TABLE Zoo (
  ZooName VARCHAR(255) PRIMARY KEY,
  Country VARCHAR(255)
);

CREATE TABLE Enclosure (
  EnclosureName VARCHAR(255) PRIMARY KEY,
  Location VARCHAR(255),
  ZooName VARCHAR(255),
  FOREIGN KEY (ZooName) REFERENCES Zoo(ZooName)
);

CREATE TABLE Species (
  LatinName VARCHAR(255) PRIMARY KEY,
  ConservationStatus VARCHAR(50)
);

CREATE TABLE Animal (
  Identifier INT AUTO_INCREMENT PRIMARY KEY,
  DateOfBirth DATE,
  LatinName VARCHAR(255),
  EnclosureName VARCHAR(255),
  FOREIGN KEY (LatinName) REFERENCES Species(LatinName),
  FOREIGN KEY (EnclosureName) REFERENCES Enclosure(EnclosureName)
);

### Insert Sample Data

In [ ]:
%%sql
INSERT IGNORE INTO Zoo (ZooName, Country) VALUES
('Singapore Zoo','Singapore'),
('London Zoo','UK');

INSERT IGNORE INTO Enclosure (EnclosureName, Location, ZooName) VALUES
('TropicalZone','Mandai Lake','Singapore Zoo'),
('SavannahZone','Outer Gardens','Singapore Zoo'),
('ReptileHouse','Regents Park','London Zoo');

INSERT IGNORE INTO Species (LatinName, ConservationStatus) VALUES
('Buceros bicornis','Vulnerable'),
('Panthera leo','Vulnerable'),
('Elephas maximus','Endangered');

INSERT IGNORE INTO Animal (DateOfBirth, LatinName, EnclosureName)
VALUES
('2010-04-10','Buceros bicornis','TropicalZone'),
('2012-06-15','Panthera leo','SavannahZone'),
('2005-02-01','Elephas maximus','ReptileHouse'),
('2015-09-09','Buceros bicornis','SavannahZone');

### Example Queries:
- (c) How many species housed in "Singapore Zoo"?
- (d) Oldest Animal with species 'Buceros bicornis' in each zoo.

In [ ]:
%%sql

In [ ]:
%%sql